body {
  padding: 20px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.help {
    margin: 10px 0;
    height: 30px;
    line-height: 30px;
    position: relative;
    padding-left: 10px;
}
.help>span {
    color: #ff1744;
}
.help div {
    height: 20px;
    line-height: 20px;
    position: absolute;
    width: 50%;
    top: 5px;
    left: 20%;
}
.help div span {
    display: block;
    height: 20px;
    float: left;
}
.help div span:nth-child(1) {
    background-color: #6eb720;
}
.help div span:nth-child(2) {
    background-color: #d6c60f;
}
.help div span:nth-child(3) {
    background-color: #ec7e22;
}
.help div span:nth-child(4) {
    background-color: #df2d00;
}
.help div span:nth-child(5) {
    background-color: #b414bb;
}
.help div span:nth-child(6) {
    background-color: #6f0474;
}
.help p {
    display: block;
    position: absolute;
    height: 20px;
    right: 10px;
    line-height: 20px;
    top: 5px;
    margin: 0;
}
.help p span {
    display: inline-block;
    width: 80px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.help p span:nth-child(1) {
    background: #6eb720;
}
.help p span:nth-child(2) {
  color: #000;
  position: relative;
  margin:0 15px;
  top: -5px;
  width: 24px;
  height: 1px;
  background-color: currentColor;
}
.help p span:nth-child(2):before {
  content: '';
  position: absolute;
  right: 1px;
  top: -4px;
  width: 8px;
  height: 8px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.help p span:nth-child(3) {
    background: #6f0474;
}
.jqplot-target {
    margin-top: 50px;
}

#data {
    display: none;
}
